<!DOCTYPE html>
<html lang="en">
<head>
  <!-- UPDATED {{ site.last_updated }} -->
  <!-- Always a work in progress! See something buggy?
       Open an issue at https://github.com/pachewise/pachewise.github.io/issues,
       or send me an email at {{ site.feedback_email }} -->
  <title>
    {% if page.title %}
      {{ page.title }} < {{ site.title_abbrev }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  {% assign pageDescription = site.description %}
  {%- include "meta.liquid" %}

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>
<body class="container">

{% include "header.html", contacts: site.media %}
<div id="content">
  {{ content }}
</div>
{% include "footer.html" %}
</body>
</html>
