<header id="top">
  <div id="brand">
    <div id="logo">
      <h2 id="logotype"><a href="{{ site.baseurl }}">josé <br/>pacheco</a></h2>
      {{ personal.position }}{% if personal.company %} <a href="{{ personal.company_url }}">@{{ personal.company }}</a>{% endif %}<br/>
      <em>{{ personal.city }}</em>
    </div>
    <div id="contact">
      <ul id="links">
        {% for contact in media %}
        <li>
          <span class="ctct">{{ contact.name }}</span>
          <a href="{{ contact.url }}{{ contact.username }}"
             id="{{ contact.name }}"
             title="{{ contact.name | capitalize }}">@{{ contact.username }}</a>
        </li>
        {% endfor %}
        <li>
          <a href="mailto:{{ site.email }}" id="mail" title="e-mail">{{ site.email }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="photo">
    <figure>
      <img height="150" width="150" src="assets/img/me.jpg" />
      <figcaption>(me)</figcaption>
    </figure>
    </div>
</header>
