<div id="{{ language.name | downcase }}" class="block">
    <h2>{{ language.name }}</h2>
    <em>{{ language.tagline }}</em>
    <div>
        <div class="blurb">
            {% include "{{ language.name | downcase }}.html" %}
        </div>
        <div class="examples">
            {%- unless language.experience.size == 0 %}
            Selected Experience
                <ul>
                    {%- for example in language.experience %}
                    <li>
                        <a href="{{ example.url }}">{{ example.title }}</a>
                    </li>
                    {%- endfor %}
                </ul>
            {%- endunless %}
            {%- unless language.oss.size == 0 %}
            Open-Source Projects
                <ul>
                    {%- for example in language.oss %}
                    <li>
                        <a href="{{ example.url }}">{{ example.title }}</a>
                    </li>
                    {%- endfor %}
                </ul>
            {%- endunless %}
            {%- if language.experience.size == 0 and language.oss.size == 0 %}
            <em>No experience I can share yet; but getting there!</em>
            {%- endif %}
        </div>
    </div>
</div>
