<p>I've loved Python since I took <a href="https://sixohone.mit.edu">6.01</a> (Intro EECS) in 2010.
We used it at MIT for research, for homework, and for doing Matlab work <a
href="https://matplotlib.org/">without Matlab</a>. It's also my default language for scripts and projects. At MIT,
I was a Lab Assistant for 6.01, <a
href="https://web.mit.edu/6.02/">6.02</a> (Intro EECS II), and <a href="https://web.mit.edu/6.s189/www/index.html">6.S189</a> (Intro to Python).</p>

<p>At <a
href="https://www.numerator.com/">Numerator</a> (formerly InfoScout), I worked as a Backend Engineer, using
working with <a href="https://www.djangoproject.com">Django</a>, <a
href="https://www.celeryproject.org">Celery</a>, <a href="https://www.sqlalchemy.org/">SQLAlchemy</a> and
<a href="https://pandas.pydata.org/">pandas</a>. As the company grew, I was moved to lead the Insights and Data Engineering Orgs,
but I was still using Python for small tickets and scripts. </p>

<p>At <a href="https://seek.ai">Seek AI</a>, I contributed to the Python codebase (even as a VP of Eng),
  adding linting, writing tests, reviewing PRs and tackling some of the more obscure bugs.
</p>

<p>Throughout my career, I've taken on Open-Source and freelance projects using Python, and continue to contribute to that community. </p>
