<p>I used to be anti-JS in my high-school days, but <a
href="http://jquery.org/">jQuery</a>, <a
href="http://exploringjs.com">ES2015</a> and <a href="https://reactjs.org/">React</a> started to change my opinion.

<p>Joining the Insights team at <a href="https://numerator.com">Numerator</a> increased my appreciation for React and JavaScript, particularly
while I was Senior Director, with the Frontend Team Lead reporting to me (and having to fill that Team Lead role while we hired one).</p>

<p>At <a href="https://seek.ai/">Seek</a>, I worked with FE engineers on a React/TS + Next.js UI using Radix UI components. </p>
<p>Since the webpack days, TypeScript has arrived and build tools like CRA and vite have made bundling JS less painful. The React/TS + Python BE
stack is very popular these days, so I still continue to take on projects that require TS. <a href="https://testing-library.com/">@testing-library</a>
is one of my favorite installs ever. I haven't really contributed to the OSS community for TS in the past,
but I'm currently building a React/TS + Vite Frontend for a future OSS project, and I'm open to working on other TS projects should they need my help.</p>
