body {
  font-family:"Helvetica Neue", "Helvetica", sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0% auto;
  height: 100%;
  width: auto;
}

a {
  text-decoration: none;
  color: DodgerBlue;
}

label {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .125em;
  padding-bottom: 1em;
  cursor: text;
  display: block;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
#logotype {
  text-transform: lowercase;
}

@media (max-width: 700px) {
  .info { text-align: center;
          padding-bottom: 30px; }

}
.grid__col:last-child {
  padding-bottom:0;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header li {
  margin: 0;
}

header {
  padding: 5% 5% 5% 5%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background: white;
}

footer {
  bottom: 0;
  left: 0;
  padding: 2% 5%;
  background: DarkSlateGray;
  color: white;
  font-size: 0.825em;
}

nav {
  padding: 0% 5% 5% 5%;
}

nav a, nav label {
  color: black;
  height: 100%;
  display: block;
}

nav a {
  padding-left: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
}

nav a[href="#java"]{
  background: RebeccaPurple;
  color: white;
}

nav a[href="#python"] {
  background: green;
  color: white;
}

nav a[href="#rails"] {
  background: FireBrick;
  color: white;
}

nav a[href="#web"] {
  background: SteelBlue;
  color: white;
}

nav a[href="#writing"] {
  background: Chocolate;
  color: white;
}