<div id="java" class="block grid__col grid__col--1-of-1">
  <label>Java <sup title="My interest and experience in Java">3/5</sup></label>
  <div class="blurb">I've worked with Java since 2011, when I took <a
    href="http://web.mit.edu/6.005/">6.005</a> (I used Eclipse and <em>hated</em> it). After
    college, I worked on the <a
      href="http://www.oracle.com/technetwork/developer-tools/adf/overview/index.html">ADF</a> Shared
    Components (ADFShare) team at Oracle from July 2013 until January 2017. We used (and developed components
    for)
    <a href="http://www.oracle.com/technetwork/developer-tools/jdev/overview/index-094652.html">JDeveloper</a>;
    one of my first projects at Oracle was adding internal static-member audits to JDeveloper. I have
    my qualms about Java, but the language itself has been getting better (don't get me started on the 
    <a href="https://medium.com/@javachampions/java-is-still-free-2-0-0-6b9aa8d6d244">licensing and distribution</a> :\).
  </div>
</div>
