<div id="js" class="block grid__col grid__col--1-of-1">
  <label>JavaScript <sup title="My interest and experience in JavaScript">3/5</sup></label>
  <div class="blurb">I used to be anti-JS in my high-school days, but since then we've had <a
    href="http://jquery.org/">jQuery</a>, <a href="http://nodejs.org/">node</a>, <a
    href="http://exploringjs.com">ES2015</a> and <a href="https://reactjs.org/">React</a>.
    I've made my peace with it now, but I only use it when I need to (we use React for the Insights frontend).
  </div>
</div>