<div id="js" class="block">
  <label>JavaScript <sup title="My interest and experience in JavaScript">4/5</sup></label>
  <div class="blurb">I used to be anti-JS in my high-school days, but since then we've had <a
    href="http://jquery.org/">jQuery</a>, <a href="http://nodejs.org/">node</a>, <a
    href="http://exploringjs.com">ES2015</a> and <a href="https://reactjs.org/">React</a>.
    Joining the Insights team has increased my appreciation for React and JavaScript, and leading
    the team since Nov 2019 has forced me to sharpen my React and Redux skills. I can fend for myself
    in JavaScript now, though there are still a <em>lot</em> of things that frustrate me (dependency hell).
  </div>
</div>
