<div id="python" class="block">
  <label>Python <sup title="My interest and experience in Python">5/5</sup></label>
  <div class="blurb">
    I've loved Python since I took <a href="https://sixohone.mit.edu">6.01</a> (Intro EECS) in 2010.
    We used it at MIT for research, for homework, and for doing Matlab work <a
    href="https://matplotlib.org/">without Matlab</a>. I also use it for my personal scripts and projects.
    I was a Lab Assistant for 6.01 and <a
    href="https://web.mit.edu/6.02/">6.02</a> (Intro EECS II), and I helped teach an Intro to Python class
    during our January period. I have been part of the <a
    href="https://www.numerator.com/solutions/people-and-shopper-insights">Numerator Insights</a> (formerly InfoScout Insights) team since Feb 2017, which means
    working with <a href="https://www.djangoproject.com">Django</a>, <a
    href="http://www.celeryproject.org">Celery</a>, <a href="https://www.sqlalchemy.org/">SQLAlchemy</a> and
    <a href="http://pandas.pydata.org/">pandas</a> in Python 3.6 (gotta love f-strings).
  </div>
</div>
