@charset "utf-8";

@use "normalize";

* {
    box-sizing: border-box;
}

$reg-space: 3em;
$sans-serif: "SF Pro Display", -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;

$serif: "Iowan Old Style",
    "Apple Garamond",
    "Baskerville",
    "Times New Roman",
    "Droid Serif", "Times",
    "Source Serif Pro",
     serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

$mono: Menlo,
    Consolas,
    Monaco,
    "Liberation Mono",
    "Lucida Console",
    monospace;

body {
    font-family: $sans-serif;
    text-rendering: optimizeLegibility;
    height: 100%;
    max-width: 900px;
    padding: $reg-space;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style-type: square;
}

a {
    color: blue;
}

h2 {
    margin: 0 0 0.3em 0;
}

h2 a {
    color: black;
}

header {
    box-sizing: border-box;
    margin-bottom: calc($reg-space /2 );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header li {
    margin: 0;
}

#brand {
    display: flex;
    flex-direction: row;
}

#logotype {
    display: block;
    box-sizing: border-box;
    width: 5em;
    margin-right: $reg-space;
}

#logotype a {
    text-decoration: none;
}

#photo {
    img {
        border: ridge 10px rgba(0, 0, 0, .8);
        border-radius: 1em;
        margin: 0 auto;
    }

    figure {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        figcaption {
            text-align: center;
            padding: 0;
            font-family: $mono;
            font-style: italic;
        }
    }
}

footer {
    font-size: 0.825em;
    width: 100%;
}

#links li {
    display: grid;
    gap: .5em;
    grid-template-columns: 1fr 1fr;
}

#links li:last-child {
    margin-top: .5em;
}

$col-count: 3;

#topics ul {
    -webkit-column-count: $col-count;
    -moz-column-count: $col-count;
    column-count: $col-count;
}

:target label::after {
    content: ' â†';
}

.block {
    margin-bottom: calc($reg-space / 2);
}

.block > div, header {
    margin: 1em 0;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 12fr 5fr;
    gap: 2em;
    align-items: start;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    margin-bottom: $reg-space;
}

nav a {
    padding: 0;
    text-decoration: underline wavy;
    text-underline-position: under;
    text-decoration-skip-ink: none;
}

.blurb {
    line-height: 1.5em;
    text-align: justify;

    p:first-child {
        margin-top: 0;
    }
}

.gh-source {
    display: inline-flex;
    justify-content: space-between;

    svg {
        margin-left: 0.2rem;
    }
}
