---
---
@charset "utf-8";

@import "normalize";

* {
    box-sizing: border-box;
}

$reg-space: 3em;

body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    text-rendering: optimizeLegibility;
    height: 100%;
    max-width: 900px;
    padding: $reg-space;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style-type: square;
}

a {
    color: blue;
}

h2 {
    margin: 0 0 0.8em 0;
}

h2 a {
    color: black;
}

header {
    box-sizing: border-box;
    margin-bottom: $reg-space;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header li {
    margin: 0;
}

header {
    background: white;
}

label {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: .125em;
    padding-bottom: 1em;
    cursor: text;
    display: block;
}

#brand {
    display: flex;
    flex-direction: row;
}

#logotype {
    display: block;
    box-sizing: border-box;
    width: 5em;
    margin-right: $reg-space;
}

#logotype a {
    text-decoration: none;
}

footer {
    font-size: 0.825em;
    width: 100%;
}

#links li:last-child {
    margin-top: .5em;
}

$col-count: 3;

#topics ul {
    -webkit-column-count: $col-count;
    -moz-column-count: $col-count;
    column-count: $col-count;
}

#java label {
    color: RebeccaPurple;
}

#python label {
    color: green;
}

#js label {
    color: SteelBlue;
}

#txt label {
    color: Chocolate;
}

:target label::after {
    content: ' ←';
}

.block label {
    text-transform: lowercase;
    font-size: 1.4em;
    letter-spacing: 0;
    padding: 0 0 .5em 0;
    margin: 0;
}

.block {
    margin-bottom: $reg-space;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content sup {
    cursor: help;
}

.ctct {
    width: 60px;
    display: inline-block;
}

.blurb {
    line-height: 1.5em;
    text-align: justify;
}

.gh-source {
    display: inline-flex;
    justify-content: space-between;

    svg {
        margin-left: 0.2rem;
    }
}
