---
---
@charset "utf-8";

@import "normalize";
@import "grid";

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    width: auto;
    max-width: 900px;
    height: 100%;
    padding: 0;
}

ul {
    list-style-type: square;
}

a {
    color: blue;
}

h2 {
    margin: 0 0 0.8em 0;
}

h2 a {
    color: black;
}

header {
    display: block;
    box-sizing: border-box;
    padding: 3% 3% 0 3%;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header li {
    margin: 0;
}

header {
    background: white;
}

label {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: .125em;
    padding-bottom: 1em;
    cursor: text;
    display: block;
}

#logotype {
    display: block;
    box-sizing: border-box;
    border: 3px solid black;
    padding: 3px;
    text-align: center;
    width: 5em;
}

#logotype a {
    text-decoration: none;
}

nav {
    margin: 2% 0 4% 4%;
}

nav li, nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    display: inline-block;
    padding: 0px 8px 0px 0px;
}

footer {
    padding: 1% 3% 3% 3%;
    font-size: 0.825em;
    width: 100%;
    clear: both;
}

#links li:last-child {
    margin-top: .5em;
}

$col-count: 3;

#topics ul {
    -webkit-column-count: $col-count;
    -moz-column-count: $col-count;
    column-count: $col-count;
}

#java label {
    color: RebeccaPurple;
}

#python label {
    color: green;
}

#js label {
    color: SteelBlue;
}

#txt label {
    color: Chocolate;
}

:target label::after {
    content: ' ←';
}

.block label {
    text-transform: lowercase;
    font-size: 1.4em;
    letter-spacing: 0;
    padding: 0;
    margin: 0;
}

#content {
    padding: 2% 3% 0 4%;
    width: 100%;
}

#content sup {
    cursor: help;
}

.ctct {
    width: 60px;
    display: inline-block;
}

.blurb {
    margin: 2% 0;
    line-height: 1.5em;
    text-align: justify;
    width: 90%;
}