<!DOCTYPE html>
<html lang="en">
<head>
    <!-- UPDATED {{ site.last_updated }} -->
    <!-- Always a work in progress! See something buggy? Send me an email at {{ site.feedback_email }} -->
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="The official website of José R. Pacheco">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assign metas = "author, designer, developer" | split: ", " %}
    {% for meta in metas %}
    <meta name="{{ meta }}" content="{{ site.author }}" />
    {% endfor %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <link rel="stylesheet" type="text/css" href="./css/grid.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">

    <!-- FAVICON and mobile icon support -->
    <link rel="shortcut icon" type="image/png" href="./images/favicon.png">
    <link rel="apple-touch-icon" href="./images/favicon.png">
    <link rel="mask-icon" href="./images/favicon.svg">
</head>
<body class="container">

  {% include header.html contacts=site.data.media %}
<div id="content" class="grid">
    <div id="python" class="block grid__col grid__col--1-of-2">
        <label>Python <sup title="My interest and experience in Python">5/5</sup></label>
        <div class="blurb">
            I've loved Python since I took <a href="https://sixohone.mit.edu">6.01</a> (Intro EECS).
            We used it at MIT for research, for homework, and for doing Matlab work <a
                href="https://matplotlib.org/">without Matlab</a>, and I've used it since for my scripts and projects.
            I was a Lab Assistant for 6.01 and <a
                href="https://web.mit.edu/6.02/">6.02</a> (Intro EECS II), and I helped teach an Intro to Python class
            during our January period. I am a part of InfoScout's <a
                href="http://infoscout.co/solutions/insights">Insights</a> team since Feb 2017, which means
            working with <a href="https://www.djangoproject.com">Django</a>, <a
                href="http://www.celeryproject.org">Celery</a>, <a href="https://www.sqlalchemy.org/">SQLAlchemy</a> and
            <a href="http://pandas.pydata.org/">pandas</a>.
        </div>
    </div>
    <div id="java" class="block grid__col grid__col--1-of-2">
        <label>Java <sup title="My interest and experience in Java">3/5</sup></label>
        <div class="blurb">I've worked with Java since 2011, when I took <a
                href="http://web.mit.edu/6.005/">6.005</a> (I used Eclipse and <em>hated</em> it). After
            college, I worked on the <a
                    href="http://www.oracle.com/technetwork/developer-tools/adf/overview/index.html">ADF</a> Shared
            Components (ADFShare) team at Oracle from July 2013 until January 2017. We used (and developed components
            for)
            <a href="http://www.oracle.com/technetwork/developer-tools/jdev/overview/index-094652.html">JDeveloper</a>;
            one of my first projects at Oracle was adding internal static-member audits to JDeveloper. I have
            my qualms about Java, but <a
                    href="http://www.oracle.com/technetwork/java/javase/overview/java8-2100321.html">Java 8</a>
            looks promising, with type annotations, lambda expressions and method references.
        </div>
    </div>

    <div id="js" class="block grid__col grid__col--1-of-2">
        <label>JavaScript <sup title="My interest and experience in JavaScript">2/5</sup></label>
        <div class="blurb">I used to be anti-JS in my high-school days, but since then we've had <a
                href="http://jquery.org/">jQuery</a>, <a href="http://nodejs.org/">node</a>, <a
                href="http://exploringjs.com">ES2015</a> and <a href="https://reactjs.org/">React</a>.
            I've made my peace with it now, but I only use it when I need to (we use React for the Insights frontend).
        </div>
    </div>
</div>
  {% include footer.html %}
</body>
</html>
